@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap');

.toastNotif {
  font-family: "DynaPuff", system-ui;
  font-optical-sizing: auto;
  font-weight: 200;
  /* font-size: 50rem; */
}
