.listing-title{
    margin-top: 5px;
    text-align: center;
    font-weight: 500;
}
.badge{
     background-color: #ff8b4d;
}
.itemCard{
    margin-left: 30px;
}

@media (max-width: 480px) {
    .itemCard{
        margin-left: 27px;
    }
}