/* Global styles */
@import url("https://fonts.googleapis.com/css2?family=Concert+One&display=swap");

* {
  font-family: "Concert One", sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  overflow-x: hidden; /* Prevent horizontal scroll */
}

:root {
  --bg-color: #0c151d;
  --navbar-bg-color: #1e1240f0;
  --text-color: #ff8b4d;
  --hover-color: #ff8900;
  --footer-bg-color: #ff8b4d;
  --secondary-text-color: #898497;
  --icon-size: 35px;
  --social-icon-size: 33px;
}

/* Navbar styles */
.navbar {
  background-color: var(--bg-color);
  display: flex;
  justify-content: space-around;
  padding: 10px;
  /* align-items: center; */
  box-shadow: 2px 2px 5px black;
  border-radius: 0px 0px 30px 30px;
  width: 100%;
  max-width: 100vw;
  margin-bottom: 20px; /* Prevent horizontal overflow */
}

.logo {
  margin-left: 10px;
}

.logo > h2 {
  color: var(--text-color);
  font-size: 35px;
}

.logo > h2:hover {
  text-decoration: none;
  color: var(--hover-color);
}

.logo img {
  height: 80px;
  margin: 2px;
  border-radius: 40px;
  box-shadow: 1px 1px 3px black;
}

/* Sign-in styles */
.signin {
  display: flex;
  color: var(--text-color);
  flex-wrap: wrap; /* Allow items to wrap on small screens */
}

.signin > ul {
  margin: 15px 10px 15px 5px;
  font-size: 22px;
  cursor: pointer;
}

.signin span {
  border-bottom: solid 3px var(--text-color);
  border-right: solid 3px var(--text-color);
  box-shadow: 4px 4px 2px black;
  text-shadow: 2px 0px 2px black;
  color: var(--text-color);
  margin: 5px;
  padding: 10px;
  transition: all 0.5s;
}
.signin span:hover {
  color: var(--hover-color);
  text-decoration: underline;
}

.signin > ul:hover {
  color: var(--hover-color);
}
.lost-item {
  margin-right: 500px;
}
/* Post-sign-in styles */
.postsignin {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo2 img {
  height: 80px;
  /* margin-right: 400px; */
  border-radius: 40px;
  margin-left: 0px;
  box-shadow: 1px 1px 3px black;
}
.otherRoutes {
  display: flex;
  flex-direction: row-reverse;
  justify-content: end;
  width: 100%;
  align-items: center;
}

.otherRoutes ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  /* margin-right: 20px; */
}

.otherRoutes a {
  color: var(--text-color);
  font-size: 20px;
  margin-right: 20px;
  padding: 10px;
  text-transform: uppercase;
  border-right: 3px solid var(--footer-bg-color);
  border-bottom: 3px solid var(--footer-bg-color);
  box-shadow: 2px 2px 2px black;
  text-shadow: 2px 2px 2px black;
}
.profile {
  padding: 0px;
  width: fit-content;
  margin: 0px;
  margin-left: 70px;
}
.profile img {
  border-right: none;
  border-bottom: none;
  height: 50px;
  box-shadow: 0px 0px 8px black;
  border-radius: 50px;
  padding: 0px;
  transition: all 0.25s ease-out;
  margin-left: 15px;
}
.profile img:hover {
  transform: scale(1.02);
  box-shadow: 0px 0px 5px #ff8b4d;
}
.otherRoutes a:hover {
  color: var(--hover-color);
  text-decoration: underline;
}

.loginLink {
  margin-left: -50px;
}
.name {
  margin-left: 0px;
  margin-top: 0px;
}
.name span {
  font-family: "DynaPuff", system-ui;
  font-optical-sizing: auto;
  font-weight: 200;
  font-size: 0.8rem;
  text-transform: capitalize;
  color: var(--footer-bg-color);
  text-shadow: 2px 2px 2px black;
}
/* Footer styles */
.footer {
  margin-top: 5%;
  background-color: var(--footer-bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 100%;
  height: 100%; /* Ensure the footer takes up full width */
}

.social-icon {
  margin: 5px 5px 10px 5px;
  width: 200px;
  display: flex;
  justify-content: space-evenly;
}

.social-icon .github {
  width: var(--social-icon-size);
  height: var(--social-icon-size);
}

/* Personal info section */
.personal-info {
  margin-bottom: 0px;
  text-align: center;
}

.personal-info > h6,
.personal-info > span,
.personal-info > a {
  margin: 0px 0px;
}

.personal-info > p {
  margin-bottom: auto;
}

/* Icon styles */
.icon {
  width: var(--icon-size);
  height: var(--icon-size);
}

.symbol {
  color: var(--secondary-text-color);
}

/* Responsive styles */
@media (max-width: 1100px) {
  .logo > h2 {
    font-size: 28px;
  }

  .signin > ul,
  .postsignin > ul {
    font-size: 16px;
  }

  .postsignin {
    flex-direction: row-reverse;
    align-items: center;
  }

  .otherRoutes {
    width: 100%;
  }
  .otherRoutes a {
    font-size: 15px;
    border: none;
  }
}
@media (max-width: 768px) {
  .logo > h2 {
    font-size: 28px;
  }

  .signin > ul,
  .postsignin > ul {
    font-size: 16px;
  }

  .postsignin {
    flex-direction: row-reverse;
    align-items: flex-start;
  }

  .otherRoutes {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .postsignin {
    flex-direction: column;
    width: 100%;
  }

  .otherRoutes ul {
    flex-direction: column;
    width: 100%;
  }

  .signin > ul,
  .postsignin > ul {
    width: 100%;
    justify-content: space-between; /* Prevent overflow */
  }
}
