@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mali:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap');

:root {
    --text-color: #ff8b4d;
    --bg-color: #0c151d;
  }
body {
    margin: 0;
    padding: 0;
    font-family: "Concert One", sans-serif;
    font-weight: 400;
}

.Box-1 {
    width: 100%;
    max-width: 500px;
    padding: 45px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--bg-color);
    text-align: center;
    border-radius: 3%;
    box-shadow: 0px 0px 8px black;
    margin-top: 70px;
}

.Box-1 h1 {
    color: var(--text-color);
    text-transform: uppercase;
    font-weight: 500;
    padding: 10px;
    border-bottom: solid 5px var(--text-color);
    text-shadow: 1px 1px 2px black;
    font-size: 40px;
}

.Box-1 input[type="email"],
.Box-1 input[type="password"],
.Box-1 input[type="number"],
.Box-1 input[type="text"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #03a9f4;
    padding: 14px 10px;
    width: 100%;
    max-width: 280px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: width 0.25s, border-color 0.25s;
    font-family: "DynaPuff", system-ui;
    font-optical-sizing: auto;
    font-weight: 200;
}
p{
    font-family: "DynaPuff", system-ui;
  font-optical-sizing: auto;
  font-weight: 200;
}
a{
    color: var(--text-color);
}
a:hover{
    color: rgb(232, 57, 57);
}
.Box-1 input[type="email"]:focus,
.Box-1 input[type="password"]:focus,
.Box-1 input[type="text"]:focus,
.Box-1 input[type="number"]:focus {
    border-color: var(--text-color);
    
}

.submit {
    border: 0;
    background: none;
    display: block;
    margin: 10px auto;
    text-align: center;
    border: 2px solid #8bc34a;
    padding: 14px 30px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: background 0.25s, border-color 0.25s;
    cursor: pointer;
    font-family: "DynaPuff", system-ui;
  font-optical-sizing: auto;
  font-weight: 200;
    font-size: 15px;
    text-shadow: 1px 1px 2px black;
    transition: all 0.3s;
}

.submit:hover {
    background: var(--text-color);
}

.row1 {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    
}

.signup {
    display: flex;
}

@media (max-width: 768px) {
    .Box-1 {
        width: 90%;
        max-width: 400px;
    }

    .row1 {
        flex-direction: column;
        gap: 15px;
    }
}

@media (max-width: 480px) {
    .Box-1 {
        width: 100%;
        max-width: 380px;
    }

    .row1 {
        flex-direction: column;
        gap: 15px;
    }
}
